<link rel="stylesheet" href="../css/styles.css" />
<main>
     <h1>Settings</h1>
    <p>set your settings</p>
    <section class="profile-data">
        <%- include('./profile.ejs') %>
        <%- include('./acct') %>
    </section>
</main>