<style>
.secondary-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #233d23;
  color: #162516;
  transition: background-color 0.3s ease;
}
.secondary-btn:hover{
    transform: scale(1.1);
    color: #fff;
    background-color: #233d23;
}
.secondary-btn:hover a{
    color: #fff;
}
.secondary-btn a{
    text-decoration: none;
    color: #162516;
    transition: background-color 0.3s ease;
}
</style>
<button class="secondary-btn">
    <a href="/awareness">Learn More</a> 
</button>