<style>
    
footer{
  padding: 50px;
}
.footwrap{
  background: #375a37;
  padding: 25px 20px;
  border-radius: 0 0 20px 20px;
}
.footwrap p.copy{
  font-size: 0.6rem;
  text-align: center;
  color: rgba(160, 159, 159, 0.678);
border-top: 1px solid ;
margin-top: 15px;
padding-top: 20px;
}
.footcardiv{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footcard{
  font-size: 1vw;
  border: 2px solid #ffffffb9;
  border-radius: 5px;
  background-color: #fff;
  height: 19vw;
  width:20vw;
  text-align: center;
}
.footcard .top{
  height: 50%;
  width: 100%;
  background-color: #375a37;
  border-radius:5px 5px 0 0;
}
</style>
<footer>
  <div class="footwrap">
  <div class="footcardiv">
    <div class="footcard">
      <div class="top"></div>
      <text  class="foot-text" style="margin-top: 0;">
        <h3>ABOUT US</h3>
        <p>Learn more about Trrashmasters X and all that we so to
          bridge the gap in the waste sector via technology.
        </p>
      </text>
    </div>
    <div class="footcard">
      <div class="top"></div>
      <text class="foot-text" style="margin-top: 0;">
        <h3>WHAT WE DO</h3>
        <p>Our services include waste management marketplace,Eco-marketing, sales of recycled products and Public Awareness.</p>
      </text>
    </div>
    <div class="footcard">
      <div class="top"></div>
      <text class="foot-text" style="margin-top:0;">
        <h3>OUR CAMPAIGNS</h3>
        <p>We engage in awareness campaigns to educate people on waste management. We also showcase products recycled from waste.</p>
      </text>
    </div>
    <div class="footcard">
      <div class="top"></div>
      <text class="foot-text" style="margin-top: 0;">
        <h3>GET HELP</h3>
        <p>Having issues with transactions on the platform? we are here to help.</p>
      </text>
    </div>
  </div>
  <P class="copy"> &COPY; 2025 Trrashmasters X. All rights reserved</P>
  </div>
 </footer>