<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrashMaster</title>
    <link rel="stylesheet" href="/css/Formstyle.css" >
    <link rel="stylesheet" href="fonts/css/all.css">
</head>
<body>
      <!-- Login Form -->
       <main>
    <div class="topdiv">
      <div class="img">  <img src="/images/IMG-20250212-WA0007 2.png" alt=""></div>
    </div>  
 <div class="words">
    <h2>Welcome back</h2>
        </div>
        <form  id="loginForm">
            <div class="form"> 
                <div class="feel">
                <div id="error" class="message"></div>
                <input type="text" name="email" placeholder="Email" id="put1"></div>
                <div class="feel">
                <div id="p-error" class="message "></div>
                <input type="password" name="password" placeholder="Password" id="passw"></div>
                <button class="roe" type="submit" id="mitter">Login</button>
            </div> 
        </form>
        <div class="botdiv">
            Don't have an account? <a href="/signup">Sign up</a>
        </div>
    </div>
   
</div>
</main>
   <script src="/js/loginval.js"></script>
</body>
</html>
